
/* Nav Bar CSS */

.navbar{
    top: 0;
    background-color: #0EEADF;
}

h1 {
    font-size: 50px;
}


/* Section CSS */
body{
    text-align: center;
    height: auto;
    clear: both;
}

.container{
    margin-top: 56px;    
}

.row{
    outline-style: solid;
    outline-color: black;
}
#face {
    width: 100px;
    height: 100px;
    text-align: center;
    transform: rotate(90deg);
}
.title{
    text-align: center;
}

/* About Section CSS */
#desc {
    color: red;
}

#contact{
    color: blue
}


/* Portfolio Item CSS */
#projects{
    color: green;
}

#tallpic{
 width: 100px;
 height: 200px;   
}

#madpic{
 width: 200px;
 height: 200px;
}

.thumbnail{
    width: 100px;
    height: 100px;
}

.img-thumbnail{
    background-color: #0EEADF;
}
/* Footer CSS */



/* Button CSS */


