
/* Nav Bar CSS */

/* Header CSS */
h1 {
    font-size: 50px;
}


/* Section CSS */
body{
    text-align: center
}

#picture {
    width: 100px;
    height: 100px;
}


/* About Section CSS */
#desc {
    color: red;
}

#contact{
    color: blue
}


/* Portfolio Item CSS */
#projects{
    color: green;
}

.thumbnail{
    width: 300px;
    height: 300px;
}
/* Footer CSS */



/* Button CSS */


