
/* Nav Bar CSS */

.navbar{
    top: 0;
    background-color: #0EEADF;
    width: 100%;
}

h1 {
    font-size: 50px;
}


/* Section CSS */
body{
    text-align: center;
    background-color: white;
    padding-top: 65px; 
}

.row{
    margin-bottom: 10px;
}
#face {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
     border-radius: 50%;
/*    transform: rotate(90deg); */
}

.carousel-inner img {
    margin: auto;
    padding: 50px;
  }

.title{
    font-weight: bold;
}
#blurb{
    text-align: center;

}
.myInfo{
    text-align: center;
}
/* About Section CSS */
#about {
    color: green;
}

#contact{
    color: red;
    margin-top: 50px;
}

/* Portfolio Item CSS */
#projects{
    color: #0000FF;
    margin-top: 50px;
}

#starter{
    height: 150px;
    margin-left: 0px;
}

#rpsGame{
    color: black;   
}

#sharkAttack{
    color: black;
}

#pigLatin{
    color: black;
}
#gif{
    color: black;
}
/* Footer CSS */



/* Button CSS */


